<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="{{ site.author }}" />
    <meta name="description" lang="fr" content="{{ site.metaDescription }}" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />

    <title>{{ site.headTitle }}</title>

    <!-- Bootstrap -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascript/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascript/bootstrap.min.js"></script>

    <!-- Magnific popup -->
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <script src="/javascript/jquery.magnific-popup.min.js"></script>

    <!-- Wow: animate on scroll -->
    <script src="/javascript/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</head>
<body class="u-marg-t-50">

{% include nav.html %}

{{ content }}

</body>
</html>